@media only screen and (min-width: 60rem) {
  html {
    max-height: 100vh;
  }
  header,
  nav,
  main {
    width: 100%;
  }
  body {
    margin: auto;
  }

  main {
    max-width: 75rem;
    margin: auto;
    div {
      display: grid;
      grid-template-columns: repeat(3, minmax(260px, 1fr));
      section {
        p {
          padding: 10px 0px;
        }
      }
    }
  }
  #photography-viewer {
    margin: 0px 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    max-width: 100%;
    div {
      display: block;
      grid-template-columns: none;
      margin: 0;
      width: 100%;
      height: 300px;
      overflow: hidden;
      border: 1px solid black;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  main.landing {
    background-size: 100%;
    display: flex;
    justify-content: center;
  }
  #landing-div {
    min-width: 1200px;
    display: block;
    grid-template-columns: none;
  }
} /* end media query*/
