@media only screen and (min-width: 35rem) {
  html {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #1c1c1c;
  }
  button {
    display: none;
  }
  nav {
    display: block;
    opacity: 1;
    visibility: visible;
    height: 0px;
    height: fit-content;
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      list-style: none;
      margin: 0;
      background-color: #141414;
      li {
        margin: 0;
        padding: 10px 20px;
        font-size: 1.2rem;
        a {
          color: #efefef;
          text-decoration: none;
          h2 {
            margin: 0;
            padding: 10px;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  main {
    div {
      display: grid;
      grid-template-columns: repeat(2, minmax(260px, 1fr));
      width: fit-content;

      section {
        p {
          padding: 10px 0px;
        }
      }
    }
  }
  #photography-viewer {
    margin: 0px 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(260px, 1fr));
    max-width: 100%;
    div {
      display: block;
      grid-template-columns: none;
      margin: 0;
      width: 100%;
      height: 300px;
      overflow: hidden;
      border: 1px solid black;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  main.landing {
    background-size: 160%;
    height: auto;
    max-width: none;
    margin: none;
  }

  li:hover {
    background-color: #222222;
  }
  li:active {
    background-color: #494949;
    color: #141414;
    transition: 0.3s;
  }
} /* end media query*/
