@media only screen and (min-width: 60rem) {
    header, nav, main {
        width: 100%;
    }
    body {

        
        margin: auto;
    }
    main {
        max-width: 75rem;
        margin: auto;
   }
} /* end media query*/  