/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body {
    background-color: #1c1c1c;
    color: #efefef;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #101010;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        margin: 0;
        padding: 20px 0 20px 20px;
        font-size: 2rem;
    }
    button {
        margin: 0;
        padding: 20px;
        font-size: 1.2rem;
        background-color: transparent;
        color: #efefef;
        border: none;
        cursor: pointer;
    }
}
nav {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    height: 0px;
}
nav.open {
    height: fit-content;
    transition: opacity 0.3s ease, transform 0.5s ease;
    visibility: visible;
    display: block;
    opacity: 1;
    margin: 0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    ul {
        list-style: none;
        margin: 0;
        padding: 10px 0;
        background-color: #141414;
        li {
            margin: 0;
            padding: 10px 0 10px 20px;
            font-size: 1.2rem;
            a {
                color: #efefef;
                text-decoration: none;
                h2{
                    margin: 0;
                    padding: 7px 0;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
a {
color: #efefef;
text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}
h2 {
        margin: 0;
        padding: 20px 0 20px 20px;
        font-size: 1.6rem;
    }

section {
    margin: 2rem 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    h2 {
        margin: 0;
        padding: 20px 0 0 0;
        font-size: 1.6rem;
    }
    h4 {
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
        text-decoration: none;
    }
    p {
        margin: 0;
        padding: 40px 0 80px 0;
        font-size: 1.4rem;
    }
}
iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: none; 
    border-radius: 10px;  
}
section.visible {
    opacity: 1;
    transform: translateY(0);
}


footer {
    background-color: #101010;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    p {
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }
}

.wip {
    display: block;
}
/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

